{% extends "base.html" %}
{% block content %}
<div class="row">
  <div id="question-block" class="item">
	  <div id="question-area">{{ data.question.content }}</div>
    <div id="answer-area">
      {% for index in range(data.ans_list_range) %} 
        <div class="ans"><input id="submit_{{index}}" class="btn btn-primary btn-large btn-block" type="submit" value="({{ index+1 }}) {{ data.question.answer_list[index] }}"/></div>
      {% endfor %}
    </div>

    
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h5 class="modal-title">Question: {{ data.question.content }}</h5>
        </div>
        <div class="modal-body">
          <h5>Your Answer: <span id="myAnswer"/></h5>
        </div>
        <div class="modal-footer">
          <button id="submitBt" type="button" class="btn btn-primary">Correct</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Incorrect</button>
        </div>
      </div>
    </div>
  </div>


  </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
  $(function() {
    var ans;
    $("input[type=submit]").click(function(event){
        ans = this.id.split("_")[1];
        $('#myAnswer').text(this.value);
        $('#myModal').modal('show');
      });

    $("#submitBt").click(function(event){
      
      $.ajax({
        type: "GET",
        url: "/add_answer/{{ data.question._id }}/"+ans,

        data: { "device_id": "",
                "created_user": "web_user"
        },

        dataType: 'json', 

        success: function(data) {
          if(data['success'] == 1){
            window.location = "/?message=Success"
          }else{
            window.location = "/?message=Fail"
          }
          
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
          alert("Error");    
        }
      });
    });

  });  
</script>
{% endblock %}