{% extends "base.html" %}
{% block content %}
<div class="row">
  {% for d in data %}
  <div id="stat">
  	<div id="stat_title"><span class="glyphicon glyphicon-time"></span> Last Hour Summary <span class="glyphicon glyphicon-time"></span></div>
  	<div id="stat_question"><b>Q:</b> {{ d.question }}
	<div id="stat_location"><i class="fa fa-map-marker"></i> 
	<span id="location_label">{{ d.location }}</span>
	</div>
  	</div>
  	{% for item in d.data %}
  	<div class="block">
  		<div class="stat_count">{{item.count}}</div>
  		<div class="stat_answer">{{item.answer}}</div>
  	</div>
  	{% endfor %}
  	<div id="report_link"><i class="fa fa-edit" style="color:#3182DE;"></i> <a href="{{ url_for('views.question', question_id=d.question_id)}}">I want to report!</a></div>
  </div>
  {% endfor %}
</div>
{% endblock %}