{% extends "base.html" %}
{% block content %}
<style>
text {
  font: 10px sans-serif;
}

.axis path {
  display: none;
}

.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.group-label {
  font-weight: bold;
  text-anchor: end;
}

form{
  position: fixed;
  top: 70px;
  left: 100px;
  padding: 2px;
}


</style>

<div class="row">
<script src="/static/js/d3/d3.min.js" charset="utf-8"></script>
<form>
  <label><input type="radio" name="mode" value="multiples" checked> Multiples</label>
  <label><input type="radio" name="mode" value="stacked"> Stacked</label>
</form>
<div id="graph"></div>

<script>
var all=[];
var data;
var events = ["Empty", "Meeting", "Course", "Study"];
var ansMaps = [0,1,2,3];    

//margin
var margin = {top: 20, right: 20, bottom: 30, left: 50},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

//color
var color = d3.scale.ordinal()
    .range(["#308014", "#ffd700", "#cc0000", "#3E74F3"])
    .domain([0,1,2,3]);


//parseDate format
var mode = "{{data.mode}}";
var parseDate;

if(mode == "daily"){
  parseDate = d3.time.format("%Y%m%d").parse;
}else if(mode == "weekly"){
  parseDate = d3.time.format("%Y%m%U").parse;
}else if(mode == "monthly"){
  parseDate = d3.time.format("%Y%m").parse;
}else{ //default: hourly
  parseDate = d3.time.format("%Y%m%d%H").parse;
}

//x axis
var x = d3.time.scale()
    .range([0, width]);


//y axis
var y = d3.scale.linear()
    .range([height, 0]);

//y0
var y0 = d3.scale.ordinal()
    .rangeRoundBands([height, 0], .2);

//y1
var y1 = d3.scale.linear();


var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom")
    .tickFormat(d3.time.format("%m/%d(%a)"));

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");


var stack = d3.layout.stack()
    .values(function(d) { return d.values; })
    .x(function(d) { return d.created_time; })
    .y(function(d) { return d.count; })
    .out(function(d, y0) { d.valueOffset = y0; });


//svg graph
var svg = d3.select("#graph").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


d3.json("/get_answers/{{data.question_id}}/{{data.count}}?device_id={{data.device_id}}&mode={{data.mode}}", function(error, json) {
  if (error) return console.warn(error);
  data = json.data;

  var ans_list=[];
  data.map(function(d){
    ans_list = [0,1,2,3];
    d.answers.map(function(ans){
      all.push({
        answer: ans.answer,
        count: ans.count,
        created_time: parseDate(d.created_time)
      });
      
      //remove 
      var index = ans_list.indexOf(ans.answer);
      if (index > -1) ans_list.splice(index, 1);
    });
    
    //add empty data
    ans_list.map(function(ans) {
      all.push({
        answer: ans,
        count: 0,
        created_time: parseDate(d.created_time)
      });
    });

  });
  
  var nest = d3.nest()
      .key(function(d) { return d.answer; });

  var dataByGroup = nest.entries(all);
  stack(dataByGroup);

  //x.domain(dataByGroup[0].values.map(function(d) { return d.created_time; }));
  x.domain(d3.extent(all, function(d) { return d.created_time; }));
  y0.domain(dataByGroup.map(function(d) { return d.key; }));
  y1.domain([0, d3.max(all, function(d) { return d.count; })]).range([y0.rangeBand(), 0]);

  var group = svg.selectAll(".group")
      .data(dataByGroup)
    .enter().append("g")
      .attr("class", "group")
      .attr("transform", function(d) { return "translate(0," + y0(d.key) + ")"; });

  group.append("text")
      .attr("class", "group-label")
      .attr("x", -6)
      .attr("y", function(d) { return y1(d.values[0].count / 2); })
      .attr("dy", ".35em")
      .text(function(d) { return events[d.key]; });


  group.selectAll("rect")
      .data(function(d) { return d.values; })
    .enter().append("rect")
      .style("fill", function(d) { return color(d.answer); })
      .attr("x", function(d) { return x(d.created_time); })
      .attr("y", function(d) { return y1(d.count); })
      //.attr("width", x.rangeBand())
      .attr("width", 1.5)
      .attr("height", function(d) { return y0.rangeBand() - y1(d.count); });

  group.filter(function(d, i) { return !i; }).append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + y0.rangeBand() + ")")
      .call(xAxis);


  d3.selectAll("input").on("change", change);

  var timeout = setTimeout(function() {
    d3.select("input[value=\"stacked\"]").property("checked", true).each(change);
  }, 2000);

  function change() {
    clearTimeout(timeout);
    if (this.value === "multiples") transitionMultiples();
    else transitionStacked();
  }

  function transitionMultiples() {
    var t = svg.transition().duration(750),
        g = t.selectAll(".group").attr("transform", function(d) { return "translate(0," + y0(d.key) + ")"; });
    g.selectAll("rect").attr("y", function(d) { return y1(d.count); });
    g.select(".group-label").attr("y", function(d) { return y1(d.values[0].count / 2); })
  }

  function transitionStacked() {
    var t = svg.transition().duration(750),
        g = t.selectAll(".group").attr("transform", "translate(0," + y0(y0.domain()[0]) + ")");
    g.selectAll("rect").attr("y", function(d) { return y1(d.count + d.valueOffset); });
    g.select(".group-label").attr("y", function(d) { return y1(d.values[0].count / 2 + d.values[0].valueOffset); })
  }


});


  
</script>
</div>
{% endblock %}